In [33]:
import csv
import os

total_months = 0
total_revenue = 0
average_revenue_change = 0
revenue_increase = ["",0]
revenue_decrease = ["",0]
greatest_increase = ["",0]
greatest_decrease = ["", 999999999]
previous_revenue = ["",0]
total_revenue_change = 0

budget_data = os.path.join("","budget_data_1.csv")
file_to_output = os.path.join("", "budget_analysis_1.txt") 

with open(budget_data) as revenue_data:
    reader = csv.reader(revenue_data)
    
    # Read the header row
    header = next(reader)
    
    first_row = next(reader)
    
    #pulling second column in first record
    previous_revenue = int(first_row[1])
    total_revenue = int(first_row[1])
    
    for row in reader:
        total_months = total_months + 1
        total_revenue = total_revenue + int(row[1])
        revenue_increase = int(row[1]) - previous_revenue
        revenue_decrease = int(row[1]) - previous_revenue
        previous_revenue = int(row[1])
        current_month = row[0]
   
    # Comparing each revenue increase to current greatest increase 
    
        if revenue_increase > greatest_increase[1]:
            greatest_increase[1] = revenue_increase
            greatest_increase[0] = current_month
    
    # Comparing each revenue decrease to current greatest decrease
    
        if revenue_decrease < greatest_decrease[1]:
            greatest_decrease[1] = revenue_decrease
            greatest_decrease[0] = current_month
        
    # Add all revenue changes and divide by total months - 1, Store revenue changes in list 

        total_revenue_change = total_revenue_change + revenue_increase
        average_revenue_change = total_revenue_change / total_months
        
    output = (f"Total Months {total_months}\n"
              f"Total Revenue ${total_revenue}\n"
              f"Average Change in Revenue: ${average_revenue_change}\n"
              f"Greatest Increase in Revenue: {current_month} {greatest_increase[1]}\n "
              f"Greatest Decrease in Revenue: {current_month} {greatest_decrease[1]}")
    
    print(output)

Total Months 40
Total Revenue $18971412
Average Change in Revenue: $-6758.975
Greatest Increase in Revenue: 16-Feb 1837235
 Greatest Decrease in Revenue: 16-Feb -1779747

      Date  Revenue
0   12-Oct  1154293
1   12-Nov   885773
2   12-Dec  -448704
3   13-Jan   563679
4   13-Feb   555394
5   13-Mar   631974
6   13-Apr   957395
7   13-May  1104047
8   13-Jun   693464
9   13-Jul   454932
10  13-Aug   727272
11  13-Sep   125016
12  13-Oct   339251
13  13-Nov    78523
14  13-Dec   977084
15  14-Jan  1158718
16  14-Feb   332681
17  14-Mar  -341227
18  14-Apr   173826
19  14-May   742611
20  14-Jun  1189806
21  14-Jul   607363
22  14-Aug -1172384
23  14-Sep   587993
24  14-Oct   295198
25  14-Nov  -300390
26  14-Dec   468995
27  15-Jan   698452
28  15-Feb   967828
29  15-Mar  -454873
30  15-Apr   375723
31  15-May  1140526
32  15-Jun    83836
33  15-Jul   413189
34  15-Aug   551363
35  15-Sep  1195111
36  15-Oct   657081
37  15-Nov    66659
38  15-Dec   803301
39  16-Jan  -953301
40  16-Feb   883934